# байткод Python
__pycache__/
*.py[cod]
*$py.class

# виртуальные окружения
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# пакеты и зависимости
*.egg
*.egg-info/
dist/
build/
.eggs/

# IDE и редакторы
.vscode/
.idea/
*.swp
*.swo

# тестовые/отчетные файлы
.coverage
.tox/
nosetests.xml
coverage.xml
htmlcov/
.pytest_cache/

# лог-файлы
*.log

# кэш Jupyter Notebook
.ipynb_checkpoints

# mypy / pytype
.mypy_cache/
.pytype/

# pyright / pylance
typings/

# pyenv
.python-version

# dotenv
.env
*.env

# macOS
.DS_Store

# data
data/*